h1{
    color:blue;
}
p{
color:tomato;
}
body {
 background:#ffffff url("https://media.istockphoto.com/photos/in-the-hands-of-trees-growing-seedlings-bokeh-green-background-female-picture-id1181366400") no-repeat right top;
 margin-right :1100px;
}